.title{
    font-size: 25px;
    color: #F6F6F7;
    text-align: center;
    width: 100%;
    display: block;
}

.profile{
    width: 100%;
    max-width: 950px;
    background-color: #191919;
    padding: 25px 24px 24px;
    border-radius: 6px;
}

.register_form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 300px;
}

.form_input {
    width: 100%;
    background: #212123;
    border-radius: 8px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #F6F6F7;
    padding: 12px 24px;
    transition: all 0.2s ease 0s;
    border: 1px solid #212123;
    margin-bottom: 16px;
}

.form_input:nth-child(3) {
    margin-bottom: 24px;
}

.form_input:hover {
    background: #21212390;
}

.form_input:focus {
    border: 1px solid #F6F6F7;
}

.form_input::placeholder {
    color: #616E74;
}

.from_btn {
    width: 100%;
    background: #6C3EB8;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    height: 38px;
    transition: all 0.2s ease 0s;
    margin-top: 30px;
}

.from_btn:hover {
    background: #FFFFFF;
    color: #6C3EB8;
}

.close_form {
    width: 22px;
    height: 22px;
    position: absolute;
    right: 18px;
    top: 18px;
    cursor: pointer;
}

.close_form::after,
.close_form::before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #576067;
    position: absolute;
    bottom: 50%;
    border-radius: 5px;
}

.close_form::before {
    transform: rotate(45deg);
}

.close_form::after {
    transform: rotate(-45deg);
}

.file_input {
    width: 100%;
}

.file_input__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

}

.file_input__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    padding: 10px 12px;
    background-color: #6C3EB8;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    width: 100%;
    justify-content: center;
    transition: all 0.2s ease 0s;
}

.file_input__label:hover{
    background-color: #fff;
    color: #6C3EB8;
}

.file_input__label svg {
    height: 16px;
    margin-right: 4px;
}

.link{
    color: #888f94;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

.link:hover{
    color: #fff;
}