.recommend {
    height: 100%;
    max-height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 22px 22px 26px;
    background: #191919;
    border-radius: 6px;
    gap: 24px;
    margin-top: 20px;
}

.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.recommend_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}